<%= form_tag sessions_path, :class => 'loginbox' do %>
	<div>
		<div class="userview">
			<h1><%= t "login.signin" %></h1>
		</div>
		<div class="logincontrols">
			<table>
				<tr>
					<td><%= label_tag :email %></td>
					<td><%= text_field_tag :email, params[:email], :class => 'txtLogin' %></td>
				</tr>
				<tr>
					<td><%= label_tag :password %></td>
					<td><%= password_field_tag :password, '', :class => 'txtLogin' %></td>
				</tr>
				<tr>
					<td colspan="2" align="right">
						<%= submit_tag t("login.login"), :class => 'btn btn-user' %>
					</td>
				</tr>
			</table>
		</div>
		<div align="center">
			<br>
			<%= t "login.advice1" %>&nbsp;<%= link_to t("login.advice2"), new_user_path, class: 'loginlink' %>&nbsp;<%= t "login.advice3" %>!
			<br>
			<div class="loginmsg">
				<%= flash[:alert] %>
			</div>
		</div>
	</div>
<% end %>