<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :model => User.model_name.human, :count => @user.errors.count) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("user.fields.name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t("user.fields.surname") %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label t("user.fields.email") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t("user.fields.password") %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label t("user.fields.passwordconfirm") %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t("menu.save"), :class => 'btn btn-user'%>
  </div>
<% end %>