<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div class="btn btn-user">
	<%= link_to 'Edit', edit_user_path(@user) %>
</div>
<div class="btn btn-user">
	<%= link_to 'Back', users_path %>
</div>
