<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :model => Order.model_name.human, :count => @order.errors.count) %>:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "edit" %>
    <div class="field">
      <%= f.label :order_status %><br>
      <%= f.text_field :order_status %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.text_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :delivery_address %><br>
    <%= f.text_field :delivery_address %>
  </div>
  <div class="field">
    <%= f.label :delivery_city %><br>
    <%= f.text_field :delivery_city %>
  </div>
  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :customer_surname %><br>
    <%= f.text_field :customer_surname %>
  </div>
  <div>
    <table class="items_table">
      <tr class="orderrow">
          <th colspan="3"><%= t "order.orderproducts"%></th>
      </tr>      
      <tr class="orderrow">
        <th><%= Product.human_attribute_name("product_name") %></th>
        <th><%= LineItem.human_attribute_name("quantity") %></th>
        <th><%= t "menu.actions"%></th>
      </tr>
      <%= f.fields_for :line_items do |builder| %>
        <%= render 'line_item_fields', :f => builder %>
      <% end %>       
      <tr><td colspan="3"><%= link_to_add_fields t("order.newline"), f, :line_items %></td></tr>      
    </table>
  </div>
  <div class="actions">
    <%= f.submit t("menu.save"), :class => 'btn btn-order'%>
  </div>
<% end %>
