<div class="orderview">
  <h1><%= t "order.details"%></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Order.human_attribute_name("order_status") %>:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong><%= Order.human_attribute_name("payment_method") %>:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong><%= Order.human_attribute_name("delivery_address") %>:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong><%= Order.human_attribute_name("delivery_city") %>:</strong>
  <%= @order.delivery_city %>
</p>

<p>
  <strong><%= Order.human_attribute_name("customer_name") %>:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong><%= Order.human_attribute_name("customer_surname") %>:</strong>
  <%= @order.customer_surname %>
</p>

<table class="items_table">
  <tr class="orderrow">
      <th colspan="3"><%= t "order.orderproducts"%></th>
  </tr>
  <tr class="orderrow">
    <th><%= Product.human_attribute_name("product_name") %></th>
    <th><%= LineItem.human_attribute_name("quantity") %></th>
    <th><%= LineItem.human_attribute_name("price")%></th>
  </tr>
  <%= render @order.line_items %> 
  <tr>
    <td colspan="3" align="right">
        <%= label_tag(t("order.totalprice")) %>
        <%=h number_to_currency(@order.get_total_price, precision: 2, unit: "€") %>
    </td>
  </tr>
</table>

<br/>

<div class="btn btn-order">
  <%= link_to t("menu.edit"), edit_order_path(@order) %>
</div>
<div class="btn btn-order">
  <%= link_to t("menu.back"), orders_path %>
</div>
