<h1>Listing products</h1>

<div class="products_main">
<table class="products_table">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Description</th>
      <th>Added at</th>
      <th>Manufacturer</th>
      <th>Stock</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.description %></td>
        <td><%= product.added_at %></td>
        <td><%= product.manufacturer %></td>
        <td><%= product.stock %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
