<div class="productview">
  <h1><%= t "product.list"%></h1>
</div>

<%= render "search_products" %> 

<table class="items_table">
  <thead>
    <tr class="productrow">
      <th><%= Product.human_attribute_name("product_name") %></th>
      <th><%= Product.human_attribute_name("description") %></th>
      <th><%= Product.human_attribute_name("category") %></th>      
      <th><%= Product.human_attribute_name("added_at") %></th>
      <th><%= Product.human_attribute_name("manufacturer") %></th>
      <th><%= Product.human_attribute_name("stock") %></th>
      <th><%= Product.human_attribute_name("price") %></th>
      <th colspan="3"><%= t "menu.actions"%></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td class="centercell"><%= product.added_at.to_formatted_s(:db) %></td>
        <td><%= product.manufacturer %></td>
        <td class="centercell"><%= product.stock %></td>
        <td class="centercell"><%= product.price %></td>
        <td class="centercell"><%= link_to t("menu.show"), product_path(id: product.id) %></td>
        <td class="centercell"><%= link_to t("menu.edit"), edit_product_path(id: product.id) %></td>
        <td class="centercell"><%= link_to t("menu.destroy"), product_path(id: product.id), method: :delete, data: { confirm: t("messages.destroy") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn btn-product">
  <%= link_to t("menu.newproduct"), new_product_path %>
</div>    
<br>
<div class="btn btn-order">
  <%= link_to t("menu.neworder"), new_order_path %>
</div>
<div class="btn btn-order">
  <%= link_to t("menu.orders"), orders_path %>
</div>