<div class="productview">
  <h1>Listing products</h1>
</div>

<%= render "search_products" %> 

<table class="items_table">
  <thead>
    <tr class="productrow">
      <th>Product name</th>
      <th>Description</th>
      <th>Category</th>      
      <th>Added at</th>
      <th>Manufacturer</th>
      <th>Stock</th>
      <th>Price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_name %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td class="centercell"><%= product.added_at.to_formatted_s(:db) %></td>
        <td><%= product.manufacturer %></td>
        <td class="centercell"><%= product.stock %></td>
        <td class="centercell"><%= product.price %></td>
        <td class="centercell"><%= link_to 'Show', product %></td>
        <td class="centercell"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="centercell"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn btn-product">
  <%= link_to 'New Product', new_product_path %>
</div>    
<br>
<div class="btn btn-order">
  <%= link_to 'New Order', new_order_path %>
</div>
<div class="btn btn-order">
  <%= link_to 'Orders', orders_path %>
</div>