<div class="productview">
  <h1><%= t "product.details"%></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Product.human_attribute_name("product_name")%>:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong><%= Product.human_attribute_name("description") %>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= Product.human_attribute_name("category") %>:</strong>
  <%= @product.category %>
</p>

<p>
  <strong><%= Product.human_attribute_name("added_at") %>:</strong>
  <%= @product.added_at %>
</p>

<p>
  <strong><%= Product.human_attribute_name("manufacturer") %>:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong><%= Product.human_attribute_name("stock") %>:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong><%= Product.human_attribute_name("price") %>:</strong>
  <%= @product.price %>
</p>

<div class="btn btn-product">
  <%= link_to t("menu.edit"), edit_product_path(@product) %>
</div>
<div class="btn btn-product">
  <%= link_to t("menu.back"), products_path %>
</div>
