<div class="productview">
  <h1><%= t "product.details"%></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "product.fields.product"%>:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong><%= t "product.fields.description"%>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t "product.fields.category"%>:</strong>
  <%= @product.category %>
</p>

<p>
  <strong><%= t "product.fields.addedat"%>:</strong>
  <%= @product.added_at %>
</p>

<p>
  <strong><%= t "product.fields.manufacturer"%>:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong><%= t "product.fields.stock"%>:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong><%= t "product.fields.price"%>:</strong>
  <%= @product.price %>
</p>

<div class="btn btn-product">
  <%= link_to t("menu.edit"), edit_product_path(@product) %>
</div>
<div class="btn btn-product">
  <%= link_to t("menu.back"), products_path %>
</div>
