<!DOCTYPE html>
<html>
<head>
  <title>Curso rails - Ejercicio 5</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="headermenu">
	<span class="sessiontext">Actions:&nbsp;</span>
	<div class="sessionlist">
		<%= render_loginhelper %>
	</div>
</div>

<%= yield %>

</body>
</html>
